.login-container h2 {
    font-size: 30px;
    color: #030303;
    text-align: center;
    background-color: #80f5f3;
    padding: 24px;
    margin-top: 0;
    border-radius: 8px;
    text-shadow: 2px 2px 2px rgba(251, 248, 248, 0.5);
    font-family: Sedan;
}
