/* .rdt_TableRow {
    opacity: 0;
    animation: wave 0.4s ease-in-out var(--row-animation-delay) forwards running;
} */

.rdt_TableRow:hover {
    z-index: 999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.rdt_Table {
    overflow: hidden !important;
}
/* 
@keyframes wave {
    0%, 100% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
} */