.modal {
    z-index: 2000 !important;
}

.modal-backdrop {
    z-index: 1999 !important;
}

.bg-stack {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.receiptStyle {
    position: relative;
    box-shadow: 0 -0.4rem 1rem -0.4rem rgba(0, 0, 0, 0.2);
}

.receiptStyle::after {
    background-image: linear-gradient(135deg, #fff 0.5rem, transparent 0), linear-gradient(-135deg, #fff 0.5rem, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 1rem;
    content: '';
    display: block;
    position: absolute;
    bottom: -1rem;
    left: 0.5;
    margin-left: 0.5px;
    width: 99.7%;
    height: 1.3rem;
}