body {
    font-family: 'Inter', sans-serif;
}

.hero-container {
    background-image: radial-gradient(circle at 1px 1px, rgba(212, 212, 212, 0.562) 1px, transparent 0);
    background-size: 25px 25px;
    box-shadow: inset -2px 0px 0px 10px rgb(255 255 255);
    margin: 0;
}

.text--fontPos13--xW8hS {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: calc(-.003px + var(0, 0) * 13px);
}

.text--fontPos13--xW8hS-no {
    line-height: normal;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

.StyledReceipt {
    background-color: #fff;
    width: 100%;
    position: relative;
    padding: 1rem;
}

.StyledReceipt::after {
    background-image: linear-gradient(135deg, #fff 0.5rem, transparent 0),
        linear-gradient(-135deg, #fff 0.5rem, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 1rem;
    content: '';
    display: block;
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    width: 100%;
    height: 1rem;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9e9e9e9d;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9e9e9e9d;
}

::-webkit-scrollbar-track {
    background-color: #9e9e9e9d;
}

::-moz-scrollbar {
    width: 10px;
    height: 10px;
}

::-moz-scrollbar-thumb {
    background-color: #9e9e9e9d;
    border-radius: 10px;
}

::-moz-scrollbar-thumb:hover {
    background-color: #9e9e9e9d;
}

::-moz-scrollbar-track {
    background-color: #9e9e9e9d;
}

@media (max-width: 767px) {

    .citizens-charter span,
    .export-text {
        display: none;
    }
}

.tableRow {
    opacity: 0;
    transform: scale(1.1);
    animation: fadeUp 0.6s forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.data-table-ellipsis-button {
    height: 25px;
    width: 25px;
}

.data-table-ellipsis-button i {
    margin-top: 2px;
}

.dropdown-menu {
    z-index: 99999;
}

.css-2y136s-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
    visibility: visible !important;
}